/* .signup-btn {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 2vw;
  font-weight: lighter;
}
.login-btn {
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 2vw;
  font-weight: lighter;
} */



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  --moz-appearance: textfield;
}

.div1 {
  background: rgb(30, 177, 148);
  background: linear-gradient(97deg,
      rgba(30, 177, 148, 1) 14%,
      rgba(255, 255, 255, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
  row-gap: 100px;
}

.divbtn {
  width: 100%;
  height: 40px;
  /* background-color: red; */
  /* margin-bottom: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.btnsign {
  background-color: blue;
  width: 50%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(95, 209, 178, 1) 0%,
      rgba(24, 109, 194, 1) 100%);
}

.btnsign:hover {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(270deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(95, 209, 178, 1) 0%,
      rgba(24, 109, 194, 1) 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.btnlogin {
  background-color: black;
  font-weight: 700;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(270deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(95, 209, 178, 1) 0%,
      rgba(24, 109, 194, 1) 100%);
}

.btnlogin:hover {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(95, 209, 178, 1) 0%,
      rgba(24, 109, 194, 1) 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.btnsign button {
  height: 100%;
  width: 100%;
}

.btnlogin button {
  height: 100%;
  width: 100%;
}

.div2 {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  background: rgb(46, 217, 186);
  background: linear-gradient(261deg,
      rgba(46, 217, 186, 1) 0%,
      rgba(30, 132, 177, 1) 100%);
  width: 350px;
  padding: 20px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0 50px 0 50px;
  gap: 20px;
  flex-direction: column;
  margin-top: 0;
}

.div2 h1 {
  color: white;
  margin-top: 0;
  font-weight: bolder;
  font-size: larger;
}

.div3 {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 300px;
}

.div3 label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}

.div3 input {
  padding: 7px;
  width: 100%;
  height: 50%;
  border-radius: 25px;
  border: 2px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.div3 input:focus {
  border-color: linear-gradient(0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 212, 255, 1) 0%,
      rgba(92, 9, 121, 1) 46%);
  outline: none;
  box-shadow: 0 0 8px rgba(0, 212, 255, 0.5);
}

.div3 input::placeholder {
  color: rgba(179, 159, 159, 0.6);
  font-size: smaller;
  font-weight: bolder;
}

.div3 input:hover {
  border-color: #2196f3;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.btn {
  padding: 8px 20px;
  margin-top: 0;
  width: 135px;
  height: 45px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg,
      rgba(0, 212, 255, 1) 0%,
      rgba(9, 9, 121, 1) 100%);
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: background 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease,
    letter-spacing 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.btn:hover {
  background: linear-gradient(135deg,
      rgba(0, 212, 255, 1) 0%,
      rgba(9, 9, 121, 1) 100%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  outline: none;
  color: black;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg,
      rgba(0, 212, 255, 1) 0%,
      rgba(9, 9, 121, 1) 100%);
}

.btn::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  width: 300%;
  height: 300%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.6s, opacity 0.6s;
  opacity: 0;
}

.btn:active::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: 0s;
}

/* .form-body {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ls-cont {
  width: 45vw;
}

.ls-buttons {
  width: 100%;
  height: 5vw;
  display: flex;
}

.signup-btn {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 2vw;
  font-weight: lighter;
}

.login-btn {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 2vw;
  font-weight: lighter;
}

.signup-form {
  width: 100%;
  min-height: 10vw;
  height: fit-content;
}

.login-form {
  width: 100%;
  min-height: 10vw;
  height: fit-content;
}

.form-row {
  width: 100%;
  height: 5vw;
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  font-weight: bolder;
}

.form-row-btn {
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5vw;
  font-weight: bolder;
}

.donebutton {
  width: 45%;
  height: 80%;
  background-color: green;
  border: none;
  color: white;
  font-size: 1.15vw;
}

.cancelbutton {
  width: 45%;
  height: 80%;
  background-color: red;
  border: none;
  color: white;
  font-size: 1.15vw;
}

.button-area {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  margin-right: 1vw;
}

.signup-form.active,
.login-form.active {
  display: block;
  background-color: rgb(188, 188, 188);
}

#signupBtn.active,
#loginBtn.active {
  background-color: rgb(0, 120, 80);
  color: aliceblue;
}

.inputs {
  height: 2vw;
  font-size: 1.5vw;
  margin-left: 2vw;
}

.label {
  margin-left: 1vw;
  width: 26%;
}

@media screen and (max-width: 1075px) {
  .ls-cont {
    width: 80vw;
    height: 80vh;
  }

  .ls-buttons {
    width: 100%;
    height: 10vw;
  }

  #signupBtn {
    width: 50%;
    height: 100%;
    font-size: 4vw;
  }

  #loginBtn {
    font-size: 4vw;
  }

  .signup-form {
    min-height: 20vw;
  }

  .login-form {
    min-height: 20vw;
  }

  .form-row {
    height: 10vw;
    font-size: 3vw;
  }

  .form-row-btn {
    height: 8vw;
    font-size: 3vw;
  }

  .donebutton {
    font-size: 2.3vw;
  }

  .cancelbutton {
    font-size: 2.3vw;
  }

  .button-area {
    margin-right: 2vw;
  }

  .inputs {
    height: 4vw;
    font-size: 3vw;
    margin-left: 4vw;
  }

  .label {
    margin-left: 2vw;
    width: 35%;
  }
} */