.ourservices{
    width: 100%;
    min-height: 60vh;
    height: auto;
    padding-top: 2rem;
    /* background-color: aqua; */
    /* display: flex; */
}

.vid{
    width: 30vw;
}

.vid-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* background-color: antiquewhite; */
}

.btn-vid{
    width: 5rem;
    height : 2.5rem;
    font-size: larger;
    font-weight: bolder;
    background-color: black;
    color: white;
    border : none;
    margin-top: 1rem;
}

.ourserv-1{
    text-align: center;
    padding: 1rem 1rem;
}

.s1{
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 50vw;
    padding: 1rem 1rem 1rem 2rem;
}

.s1 img{
    width: 5vw;
    height: 5vw;
    float: left;
}

.s11{
    margin-left: 1.5rem;
}

.ourserv-bottom{
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 1075px) {
    .ourserv-bottom{
        display: flex;
        flex-direction: column;
    }

    .s1{
        margin: auto;
        width: 80vw;
    }

    .vid-area{
        width: 70vw;
        margin-bottom: 5rem;
    }

    .vid{
        width: 70vw;
        margin-top: 3rem;
    }
  }
  