.button {
    /* background: linear-gradient(to bottom right, #004906, #bdffc2); */
    background-color: #104547;
    border-radius: 1rem;
    /* box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px; */
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {

    transform: scale(1.05);
}

.image-container {
    text-align: center;
}

nav {
    margin-top: 1rem;
}

.bodered-paragraph {
    border: 2px solid #333;
    padding: 10px;
}

/* .btim {
    background-color: #81434b;
    color: white;
    border: none;
    font-size: 1.1rem;
    font: bold;
}

.btvi {
    background-color: #f8994b;
    color: white;
    border: none;
    font-size: 1.1rem;
    font: bold;
} */

.content {
    border: 2px solid #b8b8b8;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 1rem;
}

h3{
    margin-top: 1rem;;
}
.image-style{
    width: 100%;    
}

.aa{
    width: 100%;
    height: auto;
}

P{
    text-align: justify;
}