.carousel {
    position: relative;
    width: auto;
    max-width: 100%;
    height: auto;
    min-height: 60vw;
    z-index: 0;
    overflow: hidden;
    background-size: cover;
}

.cr-img1 img {
    width: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover;
    /* Ensure the image covers the entire .cr-img1 container */
    display: block;
    animation: zoomAnimation 18s infinite;
    transition: transform 0.5s ease;
}

@keyframes zoomAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
        /* Zoom in at 50% of the animation */
    }

    100% {
        transform: scale(1);
    }
}

.area {
    position: absolute;
    width: 80vw;
    height: 40vh;
    background-color: transparent;
    z-index: 2;
    margin-top: 25vw;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area p {
    text-align: center;
    margin-top: 0.6rem;
    font-size: larger; /* Adjust if necessary */
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
}
.carousel-h2 {
    font-size: 3rem; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    color: #fff; 
    letter-spacing: 0.1em; 
    line-height: 1.4;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 0.15em solid #f39c12; 
    animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
    /* Typing animation (4s) and blinking caret animation */
}
/* Typewriter effect animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Expand to full width of the text */
    }
}

/* Blinking caret animation */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #f39c12; /* Match the color of the cursor */
    }
}



@media screen and (max-width: 1075px) {
    .carousel-h2 { /* Corrected class name */
        font-size: 5vw;
    }

    .area p {
        font-size: 2vw;
    }

    .carousel {
        height: 50vh;
    }
    
    .cr-img1 img {
        min-height: 50vh;
        height: auto;
    }
}
